<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timecapsule.modules.user.mapper.UserMapper">

    <!-- 通用结果映射 -->
    <resultMap id="BaseResultMap" type="com.timecapsule.modules.user.entity.User">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="email_verified" property="emailVerified"/>
        <result column="phone" property="phone"/>
        <result column="phone_verified" property="phoneVerified"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="bio" property="bio"/>
        <result column="level" property="level"/>
        <result column="exp" property="exp"/>
        <result column="reputation" property="reputation"/>
        <result column="status" property="status"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="register_ip" property="registerIp"/>
        <result column="register_source" property="registerSource"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


</mapper>